/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


 .holaplex-app .help-mesg {
  font-size: 15px;
  line-height: 2;
}
.holaplex-app .responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.holaplex-app .responsive-table .table-header {
  background-color: #f3f36d;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.holaplex-app .responsive-table .table-row {
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.holaplex-app .responsive-table .col-1 {
  flex-basis: 10%;
}
.holaplex-app .responsive-table .col-2 {
  flex-basis: 40%;
}
.holaplex-app .responsive-table .col-3 {
  flex-basis: 25%;
}
.holaplex-app .responsive-table .col-4 {
  flex-basis: 25%;
}


@media all and (max-width: 767px) {
  .holaplex-app .responsive-table .table-header {
    display: none;
 }
  .holaplex-app .responsive-table li {
    display: block;
 }
  .holaplex-app .responsive-table .col {
    flex-basis: 100%;
 }
  .holaplex-app .responsive-table .col {
    display: flex;
    padding: 10px 0;
 }
  .holaplex-app .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
 }
  
}


.holaplex-app .form-table input,
.holaplex-app .form-table select 
{
  width: 100% !important;
  max-width: 400px;
}


.holaplex-app .holaplex-tab-content {
  display: none;
}
.holaplex-app .holaplex-tab-content.active {
  display: block;
}

.holaplex-app .holaplex-tabs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}



.holaplex-app .holaplex-tablinks.active {
  background: #f3f36d;
  color: #000;
  border-bottom: 1px solid #ccc;
}

/* hide button in .holaplex-app except button-primary woocommerce-save-button main-btn */
.holaplex-app .woocommerce-save-button[type="submit"]:not(.s-btn) {
  display: none;
}
.holaplex-app .bootstrap-wrapper button.show-btn {
  display: block !important;
}
.holaplex-app button.holaplex-tablinks {
  display: block !important;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  cursor: pointer;
  background: #fff;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.03em;
  border-radius: 3px 3px 0 0;
}
.holaplex-app .header-actions {
  display: flex;
  justify-content: flex-end;
}
.holaplex-app .modal-wrapper {
 /* This part is important for centering the content */
  display: flex;
  align-items: center;
  justify-content: center;
}
.holaplex-app .modal-wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  color: #585858;
  font-family: 'Roboto', sans-serif;
}
.holaplex-app .modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all 0.4s;
}
.holaplex-app .modal:target {
  visibility: visible;
  opacity: 1;
}
.holaplex-app .modal__content {
  border-radius: 4px;
  position: relative;
  width: 65%;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
  height: 80%;
  overflow-y: scroll;
}
.holaplex-app .modal__footer {
  text-align: right;
}
.holaplex-app .modal__footer a {
  color: #585858;
}
.holaplex-app .modal__footer i {
  color: #d02d2c;
}
.holaplex-app .modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}
